body {
  overflow: hidden;
  margin: 0;
}

.side-menu {
  position: absolute;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background-color: #E67E22;
  transition: all 0.4s ease-out;
}

.general-wrapper {
  display: flex;
}

.container {
  width: 100vw;
  height: 100vh;
}

.nav-header {
  height: 50px;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.nav-company {
  color: #909497;
}

.burguer-menu {
  width: 50px;
  display: flex;
  justify-content: center;
  margin: 0 15px;
  font-size: 20px;
  color: #E67E22;
}

#toggle-btn {
  color: #E67E22;
}

#toggle-btn i {
  color: #E67E22 !important;
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 1000px) {
  .side-menu {
    position: fixed;
    left: 0;
  }

  .container {
    width: calc(100vw - 300px);
    position: absolute;
    right: 0;
  }

  .nav-header {
    display: none;
  }
}

.side-open {
  left: 0;
}

.nav-wrapper {
  padding: 0px 15px;
}

.nav-title {
  color: #ECF0F1;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
}

.nav-items {
  padding: 0;
  list-style-type: none;
}

.nav-items li{
  list-style: none;
  color: #ECF0F1;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding: 12px 10px;
  border-radius: 3px;
  transition: all 0.5s;
}

.nav-items li:hover {
  background-color: #EB984E;
}

.nav-active {
  background-color: #AF601A;
}

.nav-icon {
  margin: 0 10px;
}
